
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chào mừng đến trang chủ</h1>
<img src="https://vcdn-vnexpress.vnecdn.net/2021/07/19/film-9533-1626691819.jpg" />

