
@model Cinema.Models.Cart
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="@Url.Action("ShowtoCart","ShoppingCart")"><i class="fa fa-shopping-cart" style="font-size: 2em;"></i> (@ViewBag.infoCart)</a>

